@font-face {
    font-family: 'PP Neue Machina';
    src: url(../fonts/NeueMachina-Regular.otf);
}

body{
    margin: 0;
    padding: 0;
    font-size: 21px;
    font-family: 'PP Neue Machina';
}

div{
    margin: 0;
}

a{
    color: #000;
    text-decoration: none;
}
p{
    padding: 0;
    margin: 0;
}

h4{
    margin: 0;
}
button{
    background-color: transparent;
    outline: none;
}

button:hover{
    cursor: pointer;
}

.container{
    padding: 0 10%;
}

/* 1920px - 1111px */

/* ----------------------------head-------------------- */

.main-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 0;
}

.main-head-a-div{
    display: flex;
    align-items: center;
    width: 110%;
}

.p-1{
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}

.p-2{
    display: none;
}

.main-head-a-div img{
    display: flex;
    align-items: center;
    margin-top: 2.5%;
    margin-left: 1%;
}

/* ---------------------------items------------------- */

.items-div{
    display: flex;
    justify-content: space-between;
}

.item{
    width: auto;
}

.main-item-div{
    width: 100%;
}

.new-div{
    margin-left: -5%;
    margin-bottom: -8%;
    z-index: 200;
}

.new-div h4{
    display: inline-block;
    padding: 3px 8px;
    color: white;
    background-color: #3F452E;
    z-index: 2000;
    position: relative;
    font-size: 18px;
    font-weight: 100;
}

.main-head-a-div img{
    width: 10%;
}

.inner-item-div{
    z-index: -2000;
    width: 100%;
    height: 20%;
    display: inline-block;
    background: url('../images/images/Rectangle\ 49.png') no-repeat;
    background-size: cover;
    text-align: center;
}

.inner-item-div img{
    width: 70%;
}

.bottom-activities{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: -8% 0 0 0;
    z-index: 200;
    font-family: 'PP Neue Machina';
}

.price{
    font-weight: 700;
}

.activities-img-div{
    display: flex;
    align-items: center;
    margin-left: -4%;
}

.quantity{
    display: flex;
    align-items: center;
}

.btn-quantity{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0 10px;
    font-weight: 700;
}

.quantity p{
    margin: 0 10%;
}

.item-description{
    font-size: 14px;
    width: 100%;
    margin-left: -5%;
    margin-top: 2%;
}

@media screen and (max-width:1024px){
    body{
        font-size: 21px;
    }

    .item{
        width: auto;
    }

    .item:last-child{
        display: none;
    }

    .bottom-activities{
        margin: -9% 0 0 0;
        width: 100%;
    }

    .activities-img-div{
        margin: 0;
    }

    .quantity p {
        display: none;
    }
    .btn-minus{
        display: none;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1024px){
    body{
        font-size: 18px;
        font-weight: 700;
    }

    .price{
        font-size: 18px;
        display: flex;
        align-items: center;
    }

    .btn-quantity{
        padding: 5px 10px 8px 10px;
    }

    .item-description{
        font-size: 10px;
    }
}

@media screen and (max-width: 945px){
    body{
        font-size: 15px;
    }  
}

@media screen and (max-width:945px) and (min-width: 745px){
    .main-item-div{
        width: 180px;
    }
    .inner-item-div{
        width: 100%;
    }
    .btn-quantity{
        margin-left: -100%;
    }
}




@media screen and (max-width:744px){
    .p-1{
        display: none;
    }
    .p-2{
        display: block;
    }

    .main-head-a-div img{
        width: 25%;
        margin-left: 10%;
    }
    .item:nth-child(2){
        display: none;
    }

    .main-head-a-div p{
        content: 'Ещё';
    }

    .inner-item-div{
        width: 250px;
    }
}

@media screen and (max-width: 651px){
    .main-item-div{
        justify-content: center;
        width: 200px;
    }
    .inner-item-div{
        width: 100%;
    }
}

/* @media screen and (max-width: 531px){
    .main-item-div{
        width: 150px;
    }
} */

@media screen and (max-width: 531px){
    .item:nth-child(3){
        display: none;
    }

    .item{
        width: 100%;
    }

    .main-item-div{
        width: 100%;
    }

    .bottom-activities{
        font-size: 40px;
    }

    .activities-img-div img{
        width: 50px;
    }

    .btn-quantity{
        font-weight: 700;
        border: 3px solid black;
        font-size: 40px;
        width: 130%;
        height: 100%;
    }
}

@media screen and (max-width: 375px){
    .main-head p{
        font-size: 15px;
    }
    .price{
        font-size: 20px;
    }
    .btn-quantity{
        font-size: 20px;
        height: 120%;
    }
}

@media screen and (max-width: 271px){
    .main-head p{
        font-size: 13px;

    }
}